body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #000000, #383737); /* Adjust colors as needed */
  color: white;
  text-align: center;
}

header {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for transparency */
}

section {
  padding: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}